<%- include('partials/head',{titulo:'Tramites DIAN'}) %>
<%- include('partials/header', {paginaActual: 'dian'})%>
    <section>
      <h2>Servicios</h2>
      <ul>
        <li>Inscripción o actualización del RUT</li>
        <li>Asesoría tributaria</li>
        <li>Facturación electrónica (próximamente)</li>
      </ul>
    </section>
    <a href="/">← Volver al inicio</a>
  

<%- include ('partials/footer') %>