
<%- include ('partials/head', {titulo: 'Punto de venta SOAT'}) %>
<%- include ('partials/header', {paginaActual: 'soat'}) %>
  
    <section>
      <h2>Asegura tu vehículo</h2>
      <p>Seguro Obligatorio contra Accidentes de Tránsito.</p>
      <p>Vendemos SOAT para todo tipo de vehículos.</p>
    </section>
    <a href="/">← Volver al inicio</a>

    <%- include('partials/footer') %>
 